body{
    font-family: sans-serif;
    text-align: center;
}

.content{
  margin: auto;
  width: 50%;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
